<div class="jumbotron">
    <h2>Username: {{newUser.username}}</h2>
    <h2>Email: {{newUser.email}}</h2>
    <h2>Password: {{newUser.password}}</h2>
    <h2>Role: {{newUser.role}}</h2>
    <button class="btn btn-info" (click)="onRegister()">Register</button>

    <!-- <div class="container">
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary">Okay</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-success">Success</button>
            </div>
        </div>
    </div> -->
</div>
