<!-- <div class="jumbotron">
    <h2>Username: {{newUser.username}}</h2>
    <h2>Email: {{newUser.email}}</h2>
    <h2>Password: {{newUser.password}}</h2>
    <h2>Role: {{newUser.role}}</h2>
    <button class="btn btn-info" (click)="onRegister()">Register</button>
</div> -->

<div class="jumbotron">
    <form (ngSubmit)="onRegister()" #registrationForm="ngForm" (change)="validateForm()">
        <div class="form-group">
            <label for="newUserEmail">Email address</label>

            <input type="email" class="form-control" id="newUserEmail" name="newUserEmail" placeholder="Enter email" 
            [(ngModel)]="newUser.email" #emailAddress="ngModel" required
            [pattern]="emailPattern"  [class.is-invalid]="emailAddress.invalid && emailAddress.dirty">

            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="newUsername">Username</label>

            <input type="text" class="form-control" id="newUsername" name="newUsername" placeholder="Enter a username" 
            [(ngModel)]="newUser.username" #username="ngModel" required
            [pattern]="usernamePattern" [class.is-invalid]="username.invalid && username.dirty">

            <small id="usernameHelp" class="form-text text-muted">Your username can be whatever you want.</small>
        </div>

        <div class="form-group">
            <label for="newUserPassword">Password</label>

            <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" placeholder="Enter new password" 
            [(ngModel)]="newUser.password" #password1="ngModel" (input)="comparePasswords()" required
            [pattern]="passwordPattern" [class.is-invalid]="password1.invalid && password1.dirty">

            <small id="passwordHelp" class="form-text text-muted">Ensure the password has at least one number and one capital letter
                and that it is more than 8 characters long.
            </small>
        </div>
<!-- pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8}" -->
        <div class="form-group">
            <label for="newUserConfirmPassword">Confirm Password</label>

            <input type="password" class="form-control" id="newUserConfirmPassword" name="newUserConfirmPassword" placeholder="Re-type your password."
            [(ngModel)]="confirmPassword" #password2="ngModel" (input)="comparePasswords()" required
            [pattern]="passwordPattern" [class.is-invalid]="password2.invalid && password2.dirty">

            <small id="passwordHelp" class="form-text text-muted" *ngIf="!passwordsMatch">Passwords don't match.
            </small>
        </div>

        <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="adminUser">
            <label class="form-check-label" for="adminUser">Administrator</label>
            <small id="adminHelp" class="form-text text-muted">Check this box if the user is an administrator.</small>
        </div> -->

        <!-- <div class="form-group">
            <label for="adminDropdown">Pick User Role:</label>
            <button class="btn btn-secondary dropdown-toggle my-4 ml-3" type="button" id="adminDropdown" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="dropdownButton">{{dropdownString}}</button>

            <div class="dropdown-menu" >
                <button class="dropdown-item" type="button" (click)="newUser.role = true; dropdownString = 'Administrator'">Administrator</button>
                <button class="dropdown-item" type="button" (click)="newUser.role = false; dropdownString = 'Cashier'">Cashier</button>
            </div>
        </div> -->

        <div class="form-group">
            <label for="newUser.role">User Role</label>
            <select class="form-control" id="rolePicker" required [(ngModel)]="dropdownString" name="rolePicker">
                <option>Administrator</option>
                <option>Cashier</option>
            </select>
        </div>

        <button type="submit" class="btn btn-info btn-lg" [disabled]="!formValid">Register</button>
        <!-- this button shouldn't have an event, it should be on the form -->
        <!-- Done. The onRegister() is now called by the form and not in the button -->

    </form>
</div>
